body{
	margin: 0px 0px 0px 0px;
	background-repeat: repeat;
	background-color: white;
	font-family: Verdana;
	font-size: 9pt;
	color: #08C;
}

.sheet{
	margin: 10px;
	padding: 10px;
	border: 1px solid;
	border-color: #CCC #888 #888 #CCC;
	background: #FAFAFA;	
}

.banner{
	background-image: url("../images/top1px.jpg");
	background-repeat: repeat-x;
    position:relative;
	height:130px;
	top:0px;
    left:0px;
}

.banner_logo{
	background-image: url("../images/header.png");
    background-repeat: no-repeat;
    position:relative;
    height:130px;
    top:0px;
    left:0px;
}

.taskBar{
    font-weight: bold; 
    font-size: 9pt; 
    color: #245;
    background-color: #6BF; 
    font-family: Verdana, Sans-Serif, Arial;
}

.botones{
	position: absolute;
	top:97px;
	left:337px;
}

a:link {
	color: #000000;
	text-decoration: none;
	font-weight: normal; 
}

a:visited {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

a:active {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}


.msg{
	border: 1px solid gray;
	color: gray;
	background-color: #EEE;
}

.msg *{
	font-size: 9pt;
}

.alert{
	border: 1px solid orange;
	background-color: #FFE;
}

.alert *{color: #D72;}

.info{
	border: 1px solid #2A2;
	background-color: #EFE;
}

.info *{color: #2A2;}

.error{
	border: 1px solid #A22;
	background-color: #FEE;
}

.error *{color: #A22;}

.form{
	font-size: 9pt;
	padding:5px;
	border: 1px solid;
	border-color: #ADF #258 #258 #ADF;
	color: #078;
	background-color: #EEFAFF;	
	margin-bottom: 10px;
}

.formError{
	font-size: 9pt;
	padding: 5px;
	border: 1px solid;
	border-color: #DDF #558 #558 #DDF;
	color: #B44;
	background-color: #F0FAFF;	
	margin-bottom: 10px;
}

.formError li{
	list-style-image: url("../images/icons/errorSmall.png")
}

.formAlert{
	font-size: 9pt;
	padding:5px;
	border: 1px solid;
	border-color: #FDA #852 #852 #FDA;
	color: #870;
	background-color: #FEFAEE;	
	margin-bottom: 10px;
}

.formAlert li{
	list-style-image: url("../images/icons/alertSmall.png")
}

img{
	border:0px
}

.formRed{
	font-size: 10pt;
	padding:5px;
	border: 1px solid;
	border-color: #FDD #855 #855 #FDD;
	color: #B44;
	background-color: #FAF0F0;	
	margin-bottom: 10px;
}

.formLeyend{
	font-size: 9pt;
	padding:5px;
	border: 1px solid;
	border-color: #DDD #AAA #AAA #DDD;
	color: #888;
	background-color: #EEE;	
	margin-bottom: 10px;
	width: 800px;
}

.tip{
	font-size:8pt;
} 

.footer{
	font-size:8pt;
	text-align: center
}

.itemActivo{
	font-size: 10pt;
	border:1px solid #AAA;
	color: #289;
	padding: 5px
}

.itemInactivo{
	font-size: 10pt;
	border:1px solid #888;
	background:#DDD;
	color: #555;
	padding: 5px
}

.itemInactivo  a{
	text-decoration:none
}

.itemInactivo:hover{
	background:#AAA
}

