

form{
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid;
	border-color: #AAD #457 #457 #AAD;
	background: white;
}

form table *{text-align:left}

form .title{
	background-color: #26D;
  	background-image: url("../images/title-bg.png");
   	background-repeat: repeat-x;	
   	padding: 2px;
	margin-bottom: 5px;
	color: white
}
form .section{
	background: #ACF;
	color: #248;
  	background-image: url("../images/title-bg.png");
   	background-repeat: repeat-x;	
   	padding: 2px;
	margin-bottom: 5px;
	text-align:left;
	border-top: 1px solid #ACF;
	border-left: 1px solid #ACF;
	margin-top: 10px;
	margin-bottom: 10px
}

form table.list{
	border: 1px solid #ACF;
}
form table.list th{
	background-color: #CDE;
	color: #248;
}

form table.list td{
	border-bottom: 1px solid #ACF;
}

form table.list tr.par{
	background-color: #DEF;
}

form table.list tr.final{
	color: #248;
}

form .helper{
	font-size: small;
	color: #248;
	padding: 5px
}

form .output{
	color: gray;
	font-style: italic;
	font-size: small;
	padding:3px
}

form .info{
	color: #9BD;	
	font-size: small;
	font-style: italic;
}

